.coral-table{
  width:100%;
  border-collapse:collapse;
  margin-top:40px;
  background-color:rgba(0,0,0,0.7);
  color:#ffff;
  border-radius:10px;
  overflow:hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);

}

.coral-table thead{

  background-color:#103355;

}

.coral-table thead th{
  padding:12px 16px;
  font-size:18px;
  color:#bbfaf4;
  text-align:center;
  border-bottom: 2px solid #004aad;
}

.coral-table tbody td{
  padding:12px 16px;
  border-bottom: 2px solid #004aad;
  vertical-align: middle;
  font-size:16px;
  text-align:center;
}

.coral-table td img{
  width:40px;
  height: auto;
  margin-right:10px;
  vertical-align:middle;

}

.coral-table tbody tr:hover {
  background-color: rgba(0, 74, 173, 0.3);
  transition: background-color 0.3s ease;
}

.coral-table td[arial-label="Endangered"],
.coral-table td[arial-label="yes"]{
  color:#00ff00;
  font-size:20px;
}

.coral-table td[arial-label="Not Endangered"],
.coral-table td[arial-label="No"]{
  color:#ff4c4c;
  font-size:20px;
}

body.table-bg{
  background-image:url("https://i.ibb.co/8LL7JkyC/Corals.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

}

#topBtn{
  position:fixed;
  bottom:20px;
  right:20px;
  background-color:#004aad;
  border:none;
  color:white;
  padding:10px 15px;
  border-radius:8px;
  cursor:pointer;
  font-size:14px;
  display:none;
  z-index:1000;
}

#topBtn:hover{
  background-color:#022f75;
}

.image-gallery{
    margin-top:60px;
    background-color:rgba(0,0,0,0.6);
    border-radius:12px;
    color:#ffff;
    text-align:center;
    padding:40px;

}

.title-gallery{
    margin-bottom:20px;
    color:#bbfaf4;
    font-size:28px;

}

.image-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.image-gallery img{
    width:100%;
    height:auto;
    border-radius:10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition:transform 0.3s ease;

}

.image-gallery img::after {
  content: attr(title);
  position: absolute;
  background-color: #000000cc;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -120%);
  left: 50%;
  bottom: 100%;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.image-gallery img:hover::after {
  opacity: 1;
}